---
layout: archive
title: Archive
excerpt: A listing of all lectures from Juan Diego's iOS Programming course
---

{% assign first = true %}
{% for lecture in site.categories.lectures %}
  {% capture post_year %}{{ lecture.date | date: '%Y' }}{% endcapture %}
    {% if next_year == nil or post_year != next_year %}
    {% unless first == true %}
    </ul>
    {% endunless %}
      <h3>{{ post_year }}</h3>
    <ul>
  {% endif %}
  {% assign first = false %}
    <li>
      <span class="faux grid_2">{{ lecture.date | date: '%B %e' }}</span> 
      <span class="faux grid_7">
        <a href="{{ lecture.url }}">{{ lecture.title }}</a> <!-- <span class="comment-archive">(<a class="disqus-comment-count" href="http://www.andrewheiss.com{{ lecture.url }}#disqus_thread">comments</a>)</span> -->
      </span>
    </li>
  {% assign next_year = post_year %}
{% endfor %}
</ul>
