---
layout: base
title: Assignments
---
{% for assignment in site.categories.assignments %}
  <div class="row entry">
    <div class="post-meta column grid_2">
      {% include meta-assign.html %}
    </div>
    <div class="column grid_7">
      <div class="entry content">
        <h2>
          <a href="{{ assignment.url }}" title="{{ assignment.title }}"> 
          {{ assignment.title }}
          </a>
        </h2>
        <p>{{ assignment.excerpt }} <a href="{{ assignment.url }}">Read More&nbsp;&raquo;</a></p>
      </div>
    </div>
  </div>
{% endfor %}
