---
layout: default
title: JD iOS Programming Class
---

<div id="home">
  <h1>Lectures</h1>
  <ul class="posts">
    {% for lecture in site.categories.lectures %}
      <li><span>{{ lecture.date | date_to_string }}</span> &raquo; <a href="{{ post.url }}">{{ lecture.title }}</a></li>
      {% if lecture.tags != empty %}
      Tagged as:
        {% for tag in lecture.tags | sort %}
          <a href="/tag/#{{tag | downcase | slugify }}" class="tag">{{tag | downcase}}</a>{% unless forloop.last %}, {% endunless %}
        {% endfor %}
      {% endif %}
    {% endfor %}
  </ul>

  <h1>Important Links</h1>
  <ul class="posts">
    <li><span>04 Dec 2012</span> &raquo; <a href="important_links/syllabus.html">Syllabus</a></li>
    <li><span>02 Dec 2012</span> &raquo; <a href="https://developer.apple.com/devcenter/ios/">iOS Dev Center</a></li>
    <li><span>02 Dec 2012</span> &raquo; <a href="http://gist.github.com/4192238">Style Guide: Header File</a></li>
    <li><span>02 Dec 2012</span> &raquo; <a href="http://gist.github.com/4192229">Style Guide: Implementation File</a></li>
  </ul>

</div>
