<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <meta name="description" content="{{ page.excerpt|descriptionify }}" />
    <meta name="author" content="Adam Walz" />
    <title>{{ page.title }} | JD iOS Programming</title>
    <link rel="icon" href="/favicon.ico" type="image/vnd.microsoft.icon"/>
    <link rel="icon" href="/favicon.ico" type="image/x-icon"/>
    <link rel="icon" href="/favicon.png" type="image/png" />
    <link rel="apple-touch-icon" href="/images/apple-touch-icon.png" type="image/png" />
    <link rel="alternate" type="application/atom+xml" title="Lectures" href="http://feeds.jdios.jdchs.org/" />
    <link rel="openid2.provider" href="https://www.google.com/accounts/o8/ud?source=profiles" />
    <link rel="openid2.local_id" href="http://www.google.com/profiles/viperlight89" />
    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Share+Tech|Wellfleet|Press+Start+2P|Anonymous+Pro' type='text/css'>
    <link rel="stylesheet" href="/css/all.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="/css/print.css" type="text/css" media="print" />
    <!--[if lte IE 6]>
    <link href="/css/ie6fix.css" rel="stylesheet" type="text/css" media="screen" />
    <![endif]-->
  </head>
  <body>
    <div id="header">
      {% include header.html %}
      <a href="http://github.com/jdios"><img style="position: absolute; top: 0; right: 0; border: 0;" src="http://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png" alt="Fork me on GitHub" /></a>
      <div id="navbar-wrapper">
        {% include nav.html %}
      </div>
    </div>
    <div id="wrapper">
      {{ content }}
    </div>
    {% include footer.html %}
    <script src="/script/jquery.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="/script/captify.tiny.js" type="text/javascript" charset="utf-8"></script>

    {% include google_analytics.html %}
  </body>
</html>
