---
layout: base
---
<div class="row">
  <div class="post-meta column grid_2">
    {% include meta-lect.html %}
  </div>
  <div class="column grid_7">
    <div class="entry content">
      <h2>{{ page.title }}</h2>
        <div id="page-content">
          {{ content }}
        </div>
        <div id="related">
          <h2>Related Lectures</h2>
          <ul class="posts">
            {% for lecture in site.related_posts limit:3 %}
              <li><span>{{ lecture.date | date_to_string }}</span> &raquo; <a href="{{ lecture.url }}">{{ lecture.title }}</a></li>
            {% endfor %}
          </ul>
          {% include page-nav.html %}
        </div>
    </div>
  </div>
</div>
